<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pantalla Principal</title>
</head>
<body>
<h1>Pantalla Principal</h1>
<div class = "Cabecera">
    <a href="/PantallaPrincipal"> Pantalla Principal </a>
    <a href="/MapaDeZonas"> Mapa de zonas</a>
    <a href="/Historial"> Historial</a>
    <a href="/Datos"> Datos</a>
    <a href="/Configuracion"> Configuracion</a>

</div>
promedio: <span id="promedio">cargando</span>
<table class="Sensor_table">
    <thead>
    <tr>
        <th>IdZona</th>
        <th>Bateria</th>
        <th>Estado</th>
        <th>Ultima actualizacion</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sensor : ${sensores}">
        <th th:text="${sensor.idZona}"></th>
        <th th:text="${sensor.bateria}"></th>
        <th th:text="${sensor.estado}"></th>
        <th th:text="${sensor.ultimaActualizacion}"></th>
        <th th:text="${sensor.name}"></th>
    </tr>
    </tbody>
</table>
<script>
    fetch('/api/promedio_humedad')
    .then(response=> response.text())
    .then(promedio=> {
        console.log(promedio)
        document.getElementById('promedio').textContent=promedio;})
    .catch(error=> {document.getElementById('promedio').textContent='error';})
</script>
</body>
</html>